<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><i class="fa-regular fa-compass"></i></a>
        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/" class="nav-link">Home</a>
                <a href="/listings" class="nav-link">All Listings</a>
                <a href="/listings/new" class="nav-link">Add New Listing</a>
            </div>

            <div class="navbar-nav ms-auto">
                <% if(!currUser) { %>
                    <a href="/signup" class="nav-link">Sign Up</a>
                    <a href="/login" class="nav-link">LogIn</a>
                <% } %>
                <% if(currUser) { %> 
                    <a href="/logout" class="nav-link">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>